<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>Verificador de Preço de Ações</title>
  <link rel="icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./public/style.css">
</head>
<body>
  <header>
    <h1>Consulta de Preços na Bolsa de Valores Nasdaq</h1>
  </header>
  <div id="interface" class="log-container">
    <!-- Componente de Abas -->
    <div class="tabs">
      <div class="tab"><a href="#" data-tab="precoUnico" class="active">Obter Preço Único</a></div>
      <div class="tab"><a href="#" data-tab="compararPreco">Comparar Preços</a></div>
    </div>
    <!-- Conteúdo das Abas -->
    <div id="precoUnico" class="tab-content active">
      <h2 class="fs-title">Obter preço único e total de curtidas</h2>
      <form id="formUnico" class="border">
        <input type="text" name="stock" placeholder="Digite o símbolo da ação, ex: GOOG" required>
        <div class="checkbox">
          <input type="checkbox" id="like" name="like" value="true">
          <label for="like">Curtir?</label>

        </div>
        <button type="submit" class="action-button">Consultar Preço</button>
      </form>
    </div>
    <div id="compararPreco" class="tab-content">
      <h2 class="fs-title">Comparar e obter curtidas relativas</h2>
      <form id="formComparacao" class="border">
        <input type="text" name="stock1" placeholder="Primeiro símbolo, ex: GOOG" required>
        <input type="text" name="stock2" placeholder="Segundo símbolo, ex: MSFT" required>
        <div class="checkbox-container">
          <input type="checkbox" id="likeBoth" name="like" value="true">
          <label for="likeBoth">Curtir ambos?</label>

        </div>
        <button type="submit" class="action-button">Consultar Preço</button>
      </form>
    </div>
    <hr class="dotted-line">
    <ul id="resultadoJson" class="log-container">
      <!-- Aqui serão exibidos os resultados formatados -->
    </ul>
  </div>
  <footer class="cute-footer">
    <p>
      Desenvolvido 
      <a href="https://github.com/samanthasilva/FCC-Exercise-tracker" target="_blank" class="heart-link">❤</a>
      por Samantha Silva
    </p>
  </footer>
  <!-- Scripts -->
  <script src="/public/tabs.js"></script>
  <script src="/public/script.js"></script>
</body>
</html>
